.top{
    height: 20px;
}
#head{
    width:13353px;
    height:100px;
    background-color: gainsboro;
}
#head_left{
    width:267px;
    height:100px;
    float: left;
    background-color: gainsboro;
}
#head_img{
    margin-top: 1px;
    margin-left: 0px;
    width:250px;
    height:99px;
}
#head_right{
    width:1066px;
    float: left;
}

#head_right ul{
    list-style: none;
}
#head_right li{
    float: left;
    height :30px;
    width:150px;
    margin-top: 35px;
    text-align: center;
    font-size: larger;
    color: white;
}
#search{
    height: 31px;
    width: 200px;
    margin-left: 90px;
    margin-top: 23px;
}
#search_button{
    height: 31px;
    width:50px;
    margin-left: -10px;
    color: white;
    background-color: lightseagreen;
    border: none;
    margin-top: 23px;
}
span{
    font-size: xx-large;
}
ul li a{
    color: white;
    font-size: larger;
    padding-top: 37px;
    padding-bottom: 39px;
    padding-left: 55px;
    padding-right:55px;
}
a { text-decoration: none; }
ul li a:hover{
    color:white;
    text-decoration: none;
    background-color: darksalmon;
}
a:hover{
    text-decoration: none;
    color: blue;
}