a{
    color: white;
    font-size: larger;
}
.top{
    height:25px;
    width:1353px;
}


#head{
    width:1353px;
    height:100px;
    background-color: gainsboro;
}
#head_left{
    width:267px;
    height:100px;
    float: left;
    background-color:gainsboro;
}
#head_img{
    margin-top: 1px;
    margin-left: 0px;
    width:250px;
    height:99px;
}
#head_right{
    width:1066px;
    float: left;
}

#head_right ul{
    list-style: none;
}
#head_right li{
    float: left;
    height :30px;
    width:150px;
    margin-top: 27px;
    text-align: center;
    font-size: larger;
    color: white;
}
#search{
    height: 31px;
    width: 200px;
    margin-left: 90px;
    margin-top: 23px;
}
#search_button{
    height: 31px;
    width:50px;
    margin-left: -10px;
    color: white;
    background-color: lightseagreen;
    border: none;
    margin-top: 23px;
}
span{
    font-size: xx-large;
}
.insert{
    width: 1353px;
    height:30px;
    background-color: beige;
}
.middle{
    width: 1353px;
    height:350px;

}
.case-top{
    height: 25px;
    width: 1353px;

}
.case{
    height:300px;
    width: 250px;
    margin-left: 72px;
    float: left;
    border-radius: 5px;
    border: 1px solid #CCC;

}
.case:hover{
    margin-top:-25px;
    margin-left:70px;
    width:300px;
    height:350px;
}
.case_inside{
    width: 100%;
    height: 80%;
    float: inherit;
}
.case_text{
    width:92%;
    height:14%;
    float: inherit;
    margin-top: 3%;
    margin-left: 4%;
}
img{
    margin-top: 2%;
    margin-left: 2%;
    height: 96%;
    width: 96%;
}
p{
    text-align: center;
   margin-top: 4%;
}

